body {
    padding-top: 60px; /* marge haut de page */
}

.formLogin {
    width: 220px;
    margin:auto; /*permet de centrer*/
}

.aligneTextImage {
float:left;
}

.EnTete_tab_frais{
    
    background-color: cyan ;
}


.ligneTab{
    
    text-align: center;
}

.footer {
    border-top: 2px solid #0040ff;
    padding-top: 10px;
    margin-bottom: 10px;
    text-align: center; 
    max-height: 30px;
}

/*surcharge de l'omrage des input au moment du focus' */
.form-control:focus {
  border-color: grey;
  box-shadow: 8px 8px 12px #aaa;
}


/* je surcharge la class navbar-default qui est dans la balise NAV*/
.navbar-default{
    
    background-color: #98DBF4; /*fond bleu ciel*/
    
}

.navbar-default .navbar-header  > a{
    color: #000000;  
}

/*Afin de répondre aux exigences du projet en terme de couleur du texte et de surlignement de la partie sélectionnée de la NAVBAR */


/*Je surcharge la class .nav pour la couleur du texte des balise a qui sont dans le balises li*/
 .navbar-default .nav > li > a{
  color: #FFFFFF;
}

/* je surcharge les balises a pour la class .nav elle même dans .navbar-default pour la couleur du texte et du fond quand elle sont survolées (hover) et quand la classe .active est mis en place par le code PHP)*/
.navbar-default .nav > li > a:hover,
.navbar-default .nav > .active > a
{
    
  color: #000000;
  background-color: #A9CEE8;
}



.navbar-custom a {
    color: #fff;
}

.navbar-default {
  background-color: #30A0E7;
  border-color: #A9CEE8;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-text,
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-link {
  color: #FFFFFF;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-link:hover,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  color: #000000;
  background-color: #A9CEE8;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #30A0E7;
  color: #FFFFFF;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #FFFFFF;
}

.navbar-default .navbar-nav .open .dropdown-menu {
  background-color: #30A0E7;
  border-color: #A9CEE8;
  color: #FFFFFF;
}
.navbar-default .navbar-nav .open .dropdown-menu > li,
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #FFFFFF;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #000000;
  background-color: #A9CEE8;
}